<vzBrCP ownerTag="" ownerKey="" name="{{contract_name}}" descr="" scope="context" prio="unspecified" >
  <vzSubj targetDscp="unspecified" prio="unspecified" name="all" revFltPorts="yes" provMatchT="AtleastOne" consMatchT="AtleastOne">
    <vzRsSubjGraphAtt tnVnsAbsGraphName="sgt"/>
    <vzRsSubjFiltAtt tnVzFilterName="default" priorityOverride="default" action="permit"/>
  </vzSubj>
</vzBrCP>
