<vnsAbsGraph uiTemplateType="UNSPECIFIED" name="{{SGtemplate_name}}" dn="uni/tn-{{tenant_name}}/AbsGraph-{{SGtemplate_name}}">
	<vnsAbsTermNodeProv name="T2" >
		<vnsOutTerm />
		<vnsInTerm />
		<vnsAbsTermConn  name="1" attNotify="no"/>
	</vnsAbsTermNodeProv>
	<vnsAbsTermNodeCon name="T1" >
		<vnsOutTerm  />
		<vnsInTerm />
		<vnsAbsTermConn name="1" attNotify="no"/>
	</vnsAbsTermNodeCon>
	<vnsAbsNode name="ADC" shareEncap="no" sequenceNumber="0" routingMode="unspecified" managed="no" isCopy="no" funcType="GoTo" funcTemplateType="ADC_ONE_ARM">
		<vnsRsNodeToLDev tDn="uni/tn-{{tenant_name}}/lDevVip-{{logicalDeviceCluster_name}}"/>
		<vnsAbsFuncConn name="consumer" attNotify="no"/>
		<vnsAbsFuncConn name="provider" attNotify="no"/>
	</vnsAbsNode>
	<vnsAbsConnection  name="C2" unicastRoute="yes" directConnect="yes" connType="external" connDir="provider" adjType="L3">
		<vnsRsAbsConnectionConns tDn="uni/tn-{{tenant_name}}/AbsGraph-{{SGtemplate_name}}/AbsTermNodeProv-T2/AbsTConn"/>
		<vnsRsAbsConnectionConns tDn="uni/tn-{{tenant_name}}/AbsGraph-{{SGtemplate_name}}/AbsNode-ADC/AbsFConn-provider"/>
	</vnsAbsConnection>
	<vnsAbsConnection name="C1" unicastRoute="yes" directConnect="yes" connType="external" connDir="provider" adjType="L3">
		<vnsRsAbsConnectionConns tDn="uni/tn-{{tenant_name}}/AbsGraph-{{SGtemplate_name}}/AbsNode-ADC/AbsFConn-consumer"/>
		<vnsRsAbsConnectionConns tDn="uni/tn-{{tenant_name}}/AbsGraph-{{SGtemplate_name}}/AbsTermNodeCon-T1/AbsTConn"/>
	</vnsAbsConnection>
</vnsAbsGraph>
