<vnsLDevCtx ctrctNameOrLbl="{{contract_name}}" dn="uni/tn-{{tenant_name}}/ldevCtx-c-{{contract_name}}-g-{{SGtemplate_name}}-n-N1" graphNameOrLbl="{{SGtemplate_name}}" nodeNameOrLbl="N1" status="deleted">
</vnsLDevCtx>
