<vnsLDevCtx ctrctNameOrLbl="{{contract_name}}" dn="uni/tn-{{tenant_name}}/ldevCtx-c-{{contract_name}}-g-{{SGtemplate_name}}-n-ADC" graphNameOrLbl="{{SGtemplate_name}}" nodeNameOrLbl="ADC" status="deleted">
</vnsLDevCtx>
