<l3extInstP targetDscp="unspecified" prio="unspecified" prefGrMemb="exclude" name="{{consumerEPG_name}}" matchT="AtleastOne" floodOnEncap="disabled" dn="uni/tn-{{tenant_name}}/out-{{tenant_name}}-l3out/instP-{{consumerEPG_name}}">
   <l3extSubnet scope="import-security" ip="0.0.0.0/0" />
   <fvRsCustQosPol />
   <fvRsCons prio="unspecified" annotation="" tnVzBrCPName="{{contract_name}}" status="deleted" />
</l3extInstP>
