<fvAp dn="uni/tn-{{tenant_name}}/ap-{{appProfile_name}}" name="{{appProfile_name}}" prio="unspecified">
   <fvAEPg floodOnEncap="disabled" isAttrBasedEPg="no" matchT="AtleastOne" name="{{providerEPG_name}}" pcEnfPref="unenforced" prefGrMemb="exclude" prio="unspecified">
      <fvRsProv matchT="AtleastOne" prio="unspecified" tnVzBrCPName="{{contract_name}}" status="deleted"/>
   </fvAEPg>
</fvAp>
